.footer_container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    backdrop-filter: blur(5px);
}

.sept{
    padding: .5em 1em;
    color: white;
    font-size: 25px;
}

.stripe{
    width: 100%;
    min-height: 55px;
    background-color: rgb(225, 65, 92);
    overflow: hidden;
}