@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/*primero en el móvil (mobile first)*/

header{
  height: 50px;
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 55px;
  background-color: springgreen;
  overflow: hidden;
  padding-right: 10px;
}

nav {
  height: 100%;
  width: 100%;
}


nav ul {
  align-items: center;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0;
  backdrop-filter: blur(5px);
  height: 100%;
}

nav li a {
  font-family: 'Paytone One', sans-serif;
  color: rgb(17, 8, 131);
  display: block;
  text-decoration: none;
  padding: .5em 1em;
}

nav li a:hover {
  border-bottom: solid 3px rgb(255, 255, 255)  
}


@media screen and (min-width: 480px) {
  nav ul {
    display: flex;
  }
}
